.subtotal {
    background: rgba(234, 237, 237);
    margin-left: 30px;
    max-width: 300px;
    padding: 20px;
    border: 1px solid rgb(188, 188, 188);
    position: sticky;
    top: 95px;
}

.subtotal_status {
    margin-bottom: 10px;
}

.input_checkbox {
    margin-right: 5px;
}

.checkbox_button {
    margin-top: 20px;
    width: 100%;
    background: rgb(213, 169, 102);
    border: none;
    height: 30px;
    transition: 0.5s;
}

.checkbox_button:hover {
    background: rgb(161, 117, 50);

}